.container {
  padding: 5rem;
  background-color: #f3f4f6;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header > hr {
  border: 0.15rem solid rgb(212 164 24);
  width: 3.5rem;
  margin: 2rem 0;
}

.header > h4 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: Futura;
  color: #1c254e;
  text-align: center;
  margin-bottom: 1rem;
}

.header > p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #a6afbb;
  font-family: Quasimoda;
  font-weight: 300;
  width: 35%;
  text-align: center;
}

.body {
  margin: 2rem 0;
}

.buttonSection {
  width: 200px;
  margin: auto;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 20px;
  }

  .header > hr {
    margin: 1rem 0;
  }

  .header > h4 {
    letter-spacing: 0.7px;
    line-height: 30.6px;
    font-size: 1.5rem;
  }

  .header > p {
    width: 100%;
    line-height: 24px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }

  .header > hr {
    margin: 1rem 0;
  }

  .header > h4 {
    letter-spacing: 0.7px;
    line-height: 30.6px;
    font-size: 1.5rem;
  }

  .header > p {
    width: 100%;
    line-height: 24px;
    font-size: 1rem;
  }
}
