.outerContainer {
  margin: 2rem 0;
}

.outerContainer > h4 {
  color: var(--neutral-900, #060709);
  font-family: Futura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 2em 0;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: center;
}

.loadingCOntainer {
  height: 90vh;
  padding-top: 2rem;
  text-align: center;
}

.productsSection {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: center;
}

.products {
  flex-basis: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
